.Menu__link:last-child .Menu__link {
    margin-right: 0;
}

.Menu__link {
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.25rem;
    color: #808080;
    transition: .4s;
}

.Menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.Menu__link {
    position: relative;
}

.Menu__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 1.20rem;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.Menu__link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}