#Menu__botao {
    display: none;
    color: var(--CorMarrom);
    background: transparent;
}

@media (max-width:600px) {
    #Menu__botao {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        cursor: pointer;
        gap: .7rem;
    }
}