.Banner__titulo {
    font-family: 'Pacifico',
        cursive;
    color: #f4f4f4f4;
    font-size: 4.50rem;
    text-align: center;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}