.Protutos {
    background: var(--CorFundo);

}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {
    .Protutos {
        display: flex;
        flex-wrap: wrap;
        padding: 5rem 0 0 5rem;
    }
}