.Produto__conteudo {
    width: 100vw;
    padding: 1rem;
    background: white;

}

@media screen and (min-width:768px) {
    .Produto__conteudo {
        width: 8rem;
        height: 30vh;
    }
}


@media screen and (min-width:1024px) {
    .Produto__conteudo {
        width: 240px;
        padding: 1.25rem;
        height: 20vh;
    }
}