    .Produto {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }


    @media screen and (min-width:768px) {
        .Produto {
            flex-direction: column;
            display: flex;
            margin-bottom: 5rem;
            margin-right: 5rem;
            width: calc(25% - 5rem);
        }

    }

    @media screen and (min-width:1024px) {

        .Produto {
            box-shadow: 15px 15px 5px -5px rgba(0, 0, 0, 0.708);
        }
    }