.Produto__botao {
    cursor: pointer;
    background: var(--CorMarrom);
    border: transparent;
    transition: all .5s ease-in-out;
    padding: 13px;
    border-radius: 5px;
    color: white;
}

.Produto__botao:hover {
    background: var(--CorMarromClaro);
}